@model WritingTaskViewModel
<main class="container p-5">
    <div class="row">
        <div class="light-blue-color col-xl-8 col-sm-10 offset-sm-1 offset-xl-2" style="margin-top: 50px; border-radius:50px;">
            <form id="form" method="post">
                <div class="p-2 text-center mt-4 font-size-medium col-12">
                    Add question
                </div>
                <hr>
                <div class="row">
                    <div class="col-3 offset-1 d-flex align-items-center mt-1 mb-3">
                        <label for="QuestionPart1">Question first part:</label>
                    </div>
                    <div class="col-7">
                        <input id="inputFirstQuestionPart" asp-for="@Model.QuestionFirstPart" type="text" id="QuestionPart1" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 offset-1 d-flex align-items-center mt-1 mb-3">
                        <label for="QuestionPart2">Question second part:</label>
                    </div>
                    <div class="col-7">
                        <input id="inputSecondQuestionPart" asp-for="@Model.QuestionSecondPart" type="text" id="QuestionPart2" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 offset-1 d-flex align-items-center mt-1 mb-3">
                        <label for="QuestionPart3">Question decorated part:</label>
                    </div>
                    <div class="col-7">
                        <input id="inputDecorationPart" asp-for="@Model.QuestionDecoratedPart" type="text" id="QuestionPart3" class="form-control" />
                    </div>
                </div>
                <div class="p-2 text-center mt-4 font-size-medium col-12">
                    Add answears
                </div>
                @Html.HiddenFor(x => x.WritingQuizId, Model.WritingQuizId)
                @Html.HiddenFor(x => x.TaskType, Model.TaskType)
                @Html.HiddenFor(x => x.Id, Model.Id)
                <hr>
                <section id="AnswearsRadio4">
                    <div class="row">
                        <div class="col-3 offset-1 d-flex align-items-center mt-1 mb-3">
                            <label for="QuestionPart3">Correct answear</label>
                        </div>
                        <div class="col-7">
                            <input id="inputCorrectAnswear" asp-for="@Model.CorrectAnswear" type="text" class="form-control" />
                        </div>
                    </div>
                </section>
                <div class="row mt-5 mb-5">
                    <div class="col-12 text-center font-size-rather-small">
                        Preview
                    </div>
                </div>
                <div class="row mt-3 d-flex justify-content-center">
                    <div class="question-circle text-center ml-4">
                        <strong class="font-size-medium question">1</strong>
                    </div>
                    <div class="col-10 ml-2 d-flex align-items-center font-size-rather-small mt-1 mb-3">
                        <p><span id="FirstQuestionPart"></span>&nbsp;<span id="DecorationPart" class="dark-blue-text-color font-weight-bold font-italic"></span>&nbsp;<span id="SecondQuestionPart"></span></p>
                    </div>
                    <div class="form-check col-10 mr-3" id="checkAnswears">
                        <div class="mt-1 form-check offset-1 answearRadio">
                            <input class="form-control" type="text" name="test" id="1">
                            <label class="form-check-label" for="1">
                                <span id="firstAnswear"></span>
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3 text-center">
                                <button type="submit" class="btn warm-orange-color mb-3">Submit</button>
                                <a asp-controller="Reading" asp-action="ShowQuiz" asp-route-quizId="@Model.WritingQuizId" id="submit" class="btn btn-danger mb-3 ml-5" aria-label="button">Abort</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<script>
    $(document).ready()
    {
        $("#FirstQuestionPart").text($("#inputFirstQuestionPart").val());
        $("#DecorationPart").text($("#inputDecorationPart").val());
        $("#SecondQuestionPart").text($("#inputSecondQuestionPart").val());
    }

    $("#form").on("change", function () {
        $("#FirstQuestionPart").text($("#inputFirstQuestionPart").val());
        $("#DecorationPart").text($("#inputDecorationPart").val());
        $("#SecondQuestionPart").text($("#inputSecondQuestionPart").val());
    });
</script>