@model SpeakingQuizViewModel

<div class="d-flex justify-content-center mb-3" id="adminPanel">
    <a asp-controller="@Model.Section" asp-action="SpeakingCreateQuiz" class="btn btn-success">Create quiz</a>
    <a asp-controller="@Model.Section" asp-action="SpeakingModifyQuiz" asp-route-level="@Model.Level" class="btn btn-info ml-5 mr-5">Modify quiz</a>
    <a asp-controller="@Model.Section" asp-action="SpeakingDeleteQuiz" asp-route-level="@Model.Level" class="btn btn-danger">Delete quiz</a>
</div>
 