@model The_quest_of_English.Models.ViewModels.AnswearsAndQuestionsList
@{int counter = 0;}
@{int QuestionNumber = 1;}
@foreach (var item in Model.SampleTestQAViewModels)
{

    <section id="questionAndAnswears">
        <div class="row mt-3">
            <div class="question-circle text-center ml-4">
                <strong class="font-size-medium question">@QuestionNumber</strong>
            </div>
            <div class="col-10 ml-2 d-flex align-items-center font-size-rather-small">
                <p>@item.Question&nbsp;<span class="font-weight-bold font-italic dark-blue-text-color">@item.QuestionDecorationPart</span>&nbsp;@item.Question2</p>
            </div>
        </div>
        <div class="form-check" id="checkAnswears">
            <div class="mt-1 form-check offset-1 answearRadio">
                <input class="form-check-input" type="radio" name="@counter" id="@item.FirstQuestionId">
                <label class="form-check-label" for="@item.FirstQuestionId">
                    @item.FirstQuestionAnswear
                </label>
            </div>
            <div class="mt-1 form-check offset-1 answearRadio">
                <input class="form-check-input" type="radio" name="@counter" id="@item.SecondQuestionId">
                <label class="form-check-label" for="@item.SecondQuestionId">
                    @item.SecondQuestionAnswear
                </label>
            </div>
            <div class="mt-1 form-check offset-1 answearRadio">
                <input class="form-check-input" type="radio" name="@counter" id="@item.ThirdQuestionId">
                <label class="form-check-label" for="@item.ThirdQuestionId">
                    @item.ThirdQuestionAnswear
                </label>
            </div>
        </div>
    </section>
    counter++;
    QuestionNumber++;
}
<script>

    @*var ar = @Html.Raw(Json.Serialize(Model.Answears));
    console.log(ar);
    var counter = 0;
    var string = '#' + @id;
    $(string).one("click", function () {
        console.log($('#checkAnswears'));
        $('[id = "checkAnswears"]').each(function () {
            //var radioValue = $("input[type=radio]:checked").val();
            var elId = $(this).find("input[type=radio]:checked").attr('id');
            var radioLabelValue = $("label[for='" + elId + "']").text();
            var trimStr = $.trim(radioLabelValue);
            var trimStr2 = $.trim(ar[counter]);
            console.log(trimStr2);
            console.log(trimStr);
            console.log(elId);
            if (trimStr2 == trimStr) {
                $("label[for='" + elId + "']").css("background-color", "rgba(0,255,127, 0.2)");
            }
            else {
                $("label[for='" + elId + "']").css("background-color", "rgba(255, 77, 71, 0.2)");
            }
            counter++;
        })
    })*@

</script>