@model IEnumerable<PlacementTestTaskViewModel>
@{
    ViewData["Title"] = "DeleteOrModifyQuestion";
}

<main class="container">
    <div class="row">
        <div class="light-blue-color col-xl-8 col-sm-10 offset-sm-1 offset-xl-2" style="margin-top: 100px; border-radius:50px;">
            <div class="p-2 text-center mt-4 font-size-medium col-12">
                Delete question:
            </div>
            <hr />
            @foreach (var item in Model)
            {
                <div class="col-12 mb-2 pl-5 pr-5">
                    <div class="row">
                        <div class="col-10">
                            <p>
                                <span>Id: &nbsp;</span>
                                <span>@item.Id</span>
                                &nbsp;&nbsp;&nbsp;
                                <span>Question:</span>
                                &nbsp;
                                <span>@item.QuestionFirstPart</span>
                                &nbsp;
                                <span class="dark-blue-text-color font-weight-bold font-italic">@item.QuestionDecoratedPart</span>
                                &nbsp;
                                <span>@item.QuestionSecondPart</span>
                            </p>
                        </div>
                        <div class="col-2">
                            <form method="post">
                                <button type="submit" asp-controller="Platform" asp-action="DeleteQuestion" asp-route-id="@item.Id" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
            <hr />
            <div class="row">
                <div class="col-12 text-center font-size-medium mt-3 mb-5">
                    <a asp-controller="Platform" asp-action="PlacementTest" class="btn btn-info" aria-label="button" type="button">Back to main page</a>
                </div>
            </div>
        </div>
    </div>
</main>