@model TheEnglishQuest.ApplicationUserViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    Layout = "_PlatformLayout";
}

<main class="container">
    <div class="row flex-column-reverse flex-xl-row">
        <article class="col-xl-9 p-4 border-bottom">
            @{if (Model.Level == null)
                {
                    <p class="text-center mt-5 font-size-big">Welcome to the platform!</p>
                    <p class="text-center font-size-medium">You have to complete the placement test before you gain access to the plaftorm.</p>
                    <p class="text-center mt-3">
                        Placement test involves answearing multiple questions related to general English knowledge. Accordingly to your test results you will gain access to multiple sections where you can continue further learning process.
                        It is mandatory to solve the test. You should be able to understand the questions in order to continue the learning process, because the platform is made for intermediate and advanced English users! Despite the result you achieve, you will have access to all of the resources. Solving the test will tell us on what level are you currently being on and how to improve the platform.
                    </p>
                    <div class="text-center mt-5">
                        <a asp-controller="Platform" asp-action="PlacementTest" class="btn warm-orange-color" type="button" aria-label="PlacementTestButton">Take the placement test</a>
                    </div>
                }
                else
                {
                    <p class="text-center mt-3 font-size-big">Welcome to the platform!</p>
                    <p class="text-center mt-2 mb-3 font-size-rather-small">This platform is created by users for users, so feel free to comment or contribute to the platform!</p>
                    <p class="text-center mt-2 mb-3 font-size-rather-small">Navigate to the section that interest you the most:</p>
                    <hr />
                    <div class="row mt-5 mb-5 justify-content-center">
                        <div class="indent-blue"></div>
                        <div class="col-12">
                            <p class="text-center dark-blue-text-color font-size-medium">Grammar</p>
                            <p class="text-center">Grammar is considered the hardest part of English Language. Here you will find three different sections covering grammar tasks.</p>
                            <div class="font-size-medium d-flex justify-content-around btn-group-lg" role="group" aria-label="Basic example">
                                <a class="btn warm-orange-color platform-buttons-width" type="button" asp-controller="Grammar" asp-action="FCE">FCE</a>
                                <a class="btn warm-orange-color platform-buttons-width" type="button" asp-controller="Grammar" asp-action="CAE">CAE</a>
                                <a class="btn warm-orange-color platform-buttons-width" type="button" asp-controller="Grammar" asp-action="CPE">CPE</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row mt-5 mb-5 justify-content-center">
                        <div class="indent-blue"></div>
                        <div class="col-12 ">
                            <p class="text-center dark-blue-text-color font-size-medium">Reading</p>
                            <p class="text-center">You improve your English while you read a lot. For this reason you will find a lot of text devided in three sections depending on your desirable level.</p>
                            <div class="font-size-medium d-flex justify-content-around btn-group-lg" role="group" aria-label="Basic example">
                                <a class="btn warm-orange-color platform-buttons-width" type="button" asp-controller="Reading" asp-action="FCE">FCE</a>
                                <a class="btn warm-orange-color platform-buttons-width" type="button" asp-controller="Reading" asp-action="CAE">CAE</a>
                                <a class="btn warm-orange-color platform-buttons-width" type="button" asp-controller="Reading" asp-action="CPE">CPE</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row mt-5 mb-5 justify-content-center">
                        <div class="indent-blue"></div>
                        <div class="col-12 ">
                            <p class="text-center dark-blue-text-color font-size-medium">Writing</p>
                            <p class="text-center">Emails, complains, reviews, eseys, you will find all of those examples there. It is not divided by level segments.</p>
                            <p class="font-size-medium d-flex justify-content-around">
                                <a class="btn warm-orange-color btn-lg platform-buttons-width-large" type="button" asp-controller="Writing" asp-action="Index">All Levels</a>
                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class="row mt-5 mb-5 justify-content-center">
                        <div class="indent-blue"></div>
                        <div class="col-12 ">
                            <p class="text-center dark-blue-text-color font-size-medium">Speaking</p>
                            <p class="text-center">Here you will find some mixed speaking tasks which may help you to speak more fluently and eloquently.</p>
                            <p class="font-size-medium d-flex justify-content-around">
                                <a class="btn warm-orange-color btn-lg platform-buttons-width-large" type="button" asp-controller="Speaking" asp-action="Index">All Levels</a>
                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class="row mt-5 mb-5 justify-content-center">
                        <div class="indent-blue"></div>
                        <div class="col-12 ">
                            <p class="text-center dark-blue-text-color font-size-medium">Listening</p>
                            <p class="text-center">Listening shows how well you have worked on previous sections. There are FCE, CAE, CPE tasks.</p>
                            <div class="font-size-medium d-flex justify-content-around btn-group-lg" role="group" aria-label="Basic example">
                                <a class="btn warm-orange-color platform-buttons-width" type="button" asp-controller="Listening" asp-action="FCE">FCE</a>
                                <a class="btn warm-orange-color platform-buttons-width" type="button" asp-controller="Listening" asp-action="CAE">CAE</a>
                                <a class="btn warm-orange-color platform-buttons-width" type="button" asp-controller="Listening" asp-action="CPE">CPE</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </article>
        <aside class="mt-5 pt-4 col-xl-3 mb-5 mb-xl-0">
            <div class="row">
                <div class="col-12 text-center">
                    @if (Model.Picture.Length == 0)
                    {
                        <img src="~/images/Uśmiech.jpg" class="img-fluid" alt="Profile picture as a standard cat" style="border-radius: 50%;" />

                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.Picture);
                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <div>
                            <img src="@imgsrc" style="border-radius:50%;" class="img-fluid" alt="Custom user profile picture" />
                        </div>
                    }
                </div>
                <div class="col-12 text-center mt-2">
                    <p class="font-size-medium">@Model.UserName</p>
                </div>
                <div class="col-12">
                    <button class="btn form-control warm-orange-color" type="button" onclick="ActivateForm()">Edit profile</button>
                    @*Imie/Nazwisko/Email/Picture*@
                    <form method="post" id="form" hidden class="mt-2" enctype="multipart/form-data">
                        <textarea asp-for="@Model.Description" class="form-control mb-2" placeholder="About you"></textarea>
                        <label for="firstName" class="mt-2">
                            <i class="bi bi-person-circle"> First name:</i>
                        </label>
                        <input asp-for="@Model.FirstName" id="firstName" type="text" class="form-control" />
                        <label for="lastName" class="mt-2">
                            <i class="bi bi-person-circle"> Last name:</i>
                        </label>
                        <input asp-for="@Model.LastName" id="lastName" type="text" class="form-control" />
                        <label for="email" class="mt-2">
                            <i class="bi bi-envelope"> Email: </i>
                        </label>
                        <input asp-for="@Model.Email" id="email" type="email" class="form-control mb-2" />
                        <p class="mb-1"><i class="bi bi-image"> Profile picture:</i></p>
                        <label for="pic" id="UploadPic" class="form-control btn warm-orange-color custom-file-upload">
                            Upload file
                        </label>
                        <input asp-for="@Model.Picture" type="file" accept="image/png, image/jpeg" id="pic" class="custom-file-upload btn warm-orange-color" />
                        <p id="url"></p>
                        <input asp-for="@Model.CroppedPicture" type="hidden" id="myHiddenField">
                        <div class="row mt-3">
                            <div class="col-6">
                                <button type="submit" class="btn btn-success form-control">Save</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-danger form-control" onclick="CancelForm()">Cancel</button>
                            </div>
                        </div>
                    </form>

                    @*MODAL*@
                    <div class="modal fade" id="ModalContent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog d-flex justify-content-center">
                            <div class="modal-content" style="width: 700px;">
                                <div class="modal-header row">
                                    <div class="col-12 text-center">
                                        <h5 class="modal-title dark-blue-text-color text-center" id="staticBackdropLabel">Crop your image</h5>
                                        <br />
                                        <div id="picback">
                                            <img id="CropieImage" class="my-image" src="#" alt="Chosen image" style="width:auto; max-width:650px; max-height:500px;" />
                                        </div>
                                    </div>
                                    <div class="col-12 modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success" id="confirmPicture">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2 text-center text-xl-left" id="credentials">
                        <p class="font-size-rather-small">Estimated level: @Model.Level</p>
                        @if (Model.FirstName != null || Model.LastName != null)
                        {
                            <p class=" mb-0">
                                <i class="bi bi-person-circle"></i>
                                Name: @Model.FirstName @Model.LastName
                            </p>
                        }
                        @if (Model.Email != null)
                        {
                            <p class=" mb-0">
                                <i class="bi bi-envelope"></i>
                                Email: @Model.Email
                            </p>
                        }
                        @if (Model.Description != null)
                        {
                            <p class=" mb-0">
                                <i class="bi bi-file-earmark-person"></i>
                                Description: @Model.Description
                            </p>
                        }
                    </div>
                </div>
            </div>
        </aside>
    </div>
</main>
<script>
    var myCroppie;
    $("#pic").on("click", function () {
        $("#pic").val("");
        $("#CropieImage").attr("src", "#");
        $("#url").text("");
        if (myCroppie != null) {
            myCroppie.croppie('destroy');
        }
    });

    //Binding croppie + converting img type.
    $("#pic").on("change", function () {
        var picUrl = $("#pic").val();
        $("#url").text(picUrl);
        readURL(this);
        $('#ModalContent').modal('show');
        $('#ModalContent').on('shown.bs.modal', function () {
            if ($(".croppie-container").length == 0) {
                myCroppie = $('#CropieImage').croppie({
                    enableExif: true,
                    viewport: {
                        width: 300,
                        height: 300,
                        type: 'circle'
                    },
                    boundary: {
                        width: 650,
                        height: 500
                    }
                });

            }
            myCroppie.croppie('bind', {
                url: $("#CropieImage").attr("src")
            });
            $("#confirmPicture").on("click", function () {
                myCroppie.croppie('result', 'base64').then(function (html) {
                    $("#myHiddenField").val(html);
                    $('#ModalContent').modal('hide');
                });
            });
        });

    });

    function ActivateForm() {
        $("#form").removeAttr("hidden");
        $("#credentials").attr("hidden", true);
    }

    function CancelForm() {
        $("#form").attr("hidden", true);
        $("#credentials").removeAttr("hidden");
        $("#pic").val("");
        $("#CropieImage").attr("src", "#");
        $("#url").text("");
        if (myCroppie != null) {
            myCroppie.croppie('destroy');
        }
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {

                $('#CropieImage').attr("src", e.target.result);
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }
</script>
